# Cache
__pycache__
.pytest_cache
.DS_Store
tmp

# Directory packages are installed in
python

# Config
.env

# Serverless framework
.serverless

# Terraform
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

# AWS
.aws

# OpenAPI
openapi.yml

# pytest
public

MEMO.md