# Cache
__pycache__
.pytest_cache
.DS_Store
tmp

# Directory packages are installed in
python

# Config
.env

# Serverless framework
.serverless

# AWS
.aws

# OpenAPI
openapi.yml

# pytest
pyproject.toml

MEMO.md